.nav-logo{
    height: 40px;
    cursor: pointer;
    left: 20px;
    position: fixed;
}
.nav-avatar{
    height: 40px;
    cursor: pointer;
    right: 20px;
    position: fixed;
}
.nav{
    padding: 6px;
    position: fixed;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    width: 100%;
    top: 0;
    height: 45px;
    z-index: 9;
}
.nav-black{
    background: #000;
}
.nav-contents{
    display: flex;
    justify-content: space-between;
}